body {
    font-family: Lucida Fax;
    font-size: 14px;
    background-color: lavender;
}
  
video {
    max-width: 100%;
    width: 500px;
}

.head {
    font-family: AR DARLING;
    font-style: oblique;
    color: darkblue;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.main_options {
    font-family: Lucida Fax;
    border-collapse: separate;
    table-layout: auto !important;
    margin-left: 200px;
}
.main_options_td, .main_options_tr {
  border: 2px solid midnightblue;
  text-align: left;
  padding: 1px;  
  width: auto !important;
   background-color:ghostwhite 
}
.sub_options_td, .sub_options_tr {
  
  text-align: left;
  padding: 12px;  
  width: auto !important;
}
.streams_table {
  font-family: Lucida Fax;
  border-collapse: separate;
  width: 65.5%;
    background-color:ghostwhite
  margin-top: 20px; 
margin-left: 200px;
}
.streams_td, .streams_tr {
  border: 2px solid midnightblue;
  text-align: center;
  padding: 12px;  
    background-color:ghostwhite
}

tr:nth-child(even) {
  background-color:ghostwhite;
}

select {
  border: 1px solid midnightblue;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;  
  display:inline-block;  
  vertical-align: bottom;
}
button {
  background-color: steelblue; 
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: block;
  width: 200px;
}
button:disabled,
button[disabled]{
  border: 1px solid midnightblue;
  background-color: #cccccc;
  color: #666666;
  text-decoration: line-through;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.RegUsers {
  line-height: 50px;
  font-family: consolas;
}

.container > * {
  
  display: inline-block;
}
